/* img {
  background-color: #ffffff; 

  animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #ffffff;
  }
}*/


