:root {
  --blue: #181599;
  --dark-blue: #1d1965;
  --light-blue: #e9e8ff;
  --off-white: #f5f5fa;
  --black: #000000;
}

.no-point {
  pointer-events: none;
}

.inline-flex {
  display: inline-flex;
}
.fg-sticky-mobile-bottom.is-open {
  z-index: 222;
  pointer-events: auto;
}
.fg-sticky-mobile-bottom {
  pointer-events: none;
}
.fg-sticky-mobile-bottom .w-dropdown {
  pointer-events: auto;
}

/* landing */

.grid-slider-2 .w-slide {
  height: auto;
  min-height: 100%;
  min-width: 100%;
}
.grid-slider-2 .grid-mask-2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

html,
body {
  /* width: 100vw; */
  max-width: 100vw;
  scrollbar-gutter: stable; /* WORKED TO FIX SCROLLBAR LAYOUT SHIFT */
}

.uv2-bio-modal.fg-landing,
.fg-nav-wrapper {
  width: calc(100vw - (100vw - 100%)) !important;
}
.uv2-bio-modal.fg-landing::-webkit-scrollbar {
  display: none;
}

.l-g-3col.main-collection {
  grid-row-gap: 0px;
}

.l-g-3col.main-collection > div {
  margin-bottom: 16px;
}

.uv2-member-logo-grid {
  align-items: center;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .uv2-vertical-padding.uv2-blue-bg.fg-padding.wf-section .fg-container.center {
    max-width: 100vw;
  }
}

.faux-el {
  display: block;
  width: 0px;
  height: 0px;
  opacity: 0;
}
img.fg-read-more-arrow {
  transition: all 200ms ease;
}
.uv2-flex-row-center.btn-gap:hover img.fg-read-more-arrow,
.fg-card:hover img.fg-read-more-arrow {
  transform: translateX(3px);
}

.fg-landing-tile:hover .fg-dashed {
  opacity: 0.25;
}

.fg-slider-nav .w-slider-dot {
  background-color: #c8c8c8;
}
.fg-slider-nav .w-slider-dot.w-active {
  background-color: #3231a6;
  width: 1.25em;
  height: 1.25em;
}
.fg-slider-nav.on-dark .w-slider-dot {
  background-color: rgba(255, 255, 255, 0.5);
}
.fg-slider-nav.on-dark .w-slider-dot.w-active {
  background-color: #ffffff;
  width: 1.25em;
  height: 1.25em;
}
@media (min-width: 569px) {
  .fg-twitter-list {
    column-count: 2;
  }
}

.fg-tweet-item {
  break-inside: avoid;
}
.fg-slider .w-slide {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1em;
}
.fg-tweet-handle:before {
  content: "@";
}

.fg-slider .grid-mask-3 .w-dyn-item {
  height: 100%;
  width: 100%;
}

/* articles */

.fg-slider-img-wrap {
  height: max-content;
}
.fg-slider-img-wrap > img {
  object-fit: unset !important;
}

.fg-articles-wrapper {
  position: relative;
}
.fg-articles-wrapper.articles:after {
  content: "";
  display: block;
  width: 3em;
  height: 40px;
  top: 0;
  right: -1.5em;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 0) 0%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
}

.uv2-page-wrapper.uv2-colour-page-bg.articles {
  margin-top: calc(-110vh + -100px) !important;
}

.fg-sidebar-sticky:last-of-type {
  opacity: 0;
}

@media (min-width: 796px) {
  /* .section-wrapper {
    position: relative;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
  } */
  .s-p-t-200.sidebars.article,
  .s-p-t-200.sidebars.articles {
    column-gap: 3% !important;
  }
}
@media (max-width: 796px) {
  /* .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
  } */
}
@media screen and (max-width: 767px) {
  .fg-slider.grid-slider-2 {
    margin-bottom: 0px !important;
  }
}
.section-faux-id {
  top: 0px !important;
}
/* .section-faux-id {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -150px;
  right: 0%;
  bottom: 0%;
  left: 0%;
} */

.fg-mob-dd-toggle.w--open .rel-icon {
  transform: rotate(0deg);
}

.fg-articles-footer {
  opacity: 0;
  transition: opacity 200ms ease;
}

.fg-article-rte h1,
.fg-article-rte h2 {
  position: relative;
}
.faux-height {
  position: absolute;
  display: block;
  top: -170px;
  left: 0px;
  width: 30px;
}

.fg-article-rte ul {
  opacity: 0;
  transition: all 200ms ease;
}

.fg-article-rte td,
.fg-article-rte th {
  padding: 1em;
  border: solid 2px #0c0a39;
  vertical-align: top;
}

.fg-article-rte th {
  font-weight: 400;
}
.fg-article-rte p {
  margin-bottom: 0px !important;
}

/* .fg-article-rte blockquote strong,
.fg-article-rte blockquote strong em {
  display: inline-block;
} */

/* .fg-article-rte blockquote.has-em .fg-article-rte blockquote > *:last-child {
  transform: translateY(-14px);
} */
/* .fg-article-rte blockquote strong em {
  opacity: 0.5;
} */

.fg-article-rte blockquote .quote {
  display: inline-block;
  margin-bottom: 0.5em;
}
/* 
.fg-article-rte blockquote br {
  display: none;
} */
.fg-article-rte blockquote .normal {
  font-size: 1rem;
  font-style: normal;
  color: #000000;
  font-weight: 500;
  display: inline-block;
}
.fg-article-rte blockquote .last {
  opacity: 0.5;
}

.tldr > li:first-child {
  padding-left: 0px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--dark-blue);
  padding: 0.75em 1em;
  background: var(--light-blue);
  width: 100%;
}
.tldr {
  border-radius: 5px;
  padding-left: 0px;
  border: solid rgb(200, 200, 200) 1px;
  margin-bottom: 2em;
  padding-top: 0px !important;
}
.tldr-list {
  padding: 2em;
  padding-left: 85px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.tldr-list li {
  list-style-type: none;
  color: var(--black);
  position: relative;
}
.tldr-list li::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("https://uploads-ssl.webflow.com/5e46e7043e3aadf6a3f88577/6438348fd6fcd1f5787f310e_green-check.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: -2.7em;
  top: 5px;
}

.fg-article-rte li {
  color: var(--black);
}

.fg-share-icon-wrapper:hover .fg-share-icon-top {
  transform: translateY(-3px);
}

.fg-share-dd-toggle.w-dropdown-toggle .fg-share-icon-wrapper {
  transform: scale(0.95);
  border-color: rgba(51, 79, 171, 0.72);
  border-width: 0px;
}
.fg-share-dd-toggle.w-dropdown-toggle.w--open .fg-share-icon-wrapper,
.fg-share-dd-toggle.w-dropdown-toggle .fg-share-icon-wrapper:hover {
  transform: scale(1);
  border-color: #534aed;
  border-width: 2px;
}

@media (min-width: 768px) {
  .fg-share-dd-list.w-dropdown-list {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .fg-share-dd-list.w-dropdown-list > a:first-child {
    transform: translateY(-39px);
    transition: all 200ms ease;
    position: relative;
    z-index: -1;
  }
  .fg-share-dd-list.w-dropdown-list > a:last-child {
    transform: translateY(-69px);
    transition: all 200ms ease;
    position: relative;
    z-index: -1;
  }
  .fg-share-dd-list.w-dropdown-list.w--open > a {
    transform: translateY(0px);
    z-index: 1;
  }
}

.fg-tool-title {
  color: #322ac0 !important;
  font-weight: 500;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

.fg-nav-article.current-article {
  position: relative;
  font-weight: 500;
}

.fg-nav-subheading {
  margin-bottom: 10px;
}

.fg-dd-list .w-dyn-items {
  white-space: normal;
  width: max-content;
  max-width: 55vw;
}
@media (min-width: 960px) {
  .fg-dd-list .w-dyn-items {
    max-width: 268px;
  }
}
.fg-dd-list .w-dyn-item {
  line-height: 110%;
  margin-bottom: 9px;
}

.toc-link.w--current h4 {
  font-weight: 500;
}
.fg-mob-toc-target .toc-wrapper,
.fg-mob-toc-target .toc-link.w--current {
  border: none;
}
.fg-mob-toc-target .toc-link.w--current h4 {
  font-weight: 400;
}
.fg-mob-toc-target .toc-wrapper a {
  padding-left: 0px;
}
@media screen and (max-width: 991px) {
  .mobile-brand-link.uv2-mobile-brand-link {
    height: 16px;
  }
}

.fg-prev-link:hover > img {
  transform: rotate(180deg) translateX(3px) !important;
}
.fg-article-pag:hover .uv2-flex-row-center.btn-gap > img {
  transform: translateX(3px) !important;
}
.fg-article-pag:hover .uv2-flex-row-center.btn-gap.fg-prev-link > img {
  transform: rotate(180deg) translateX(3px) !important;
}

/* topics */

a[href*="/tags/article"],
a[href*="/tags/blog"],
a[href*="/tags/podcast"] {
  pointer-events: none;
}

.fg-articles-wrapper {
  opacity: 0;
}

.fg-topic-overlay:hover + div .fg-read-more-arrow {
  transform: translateX(5px);
}

.fg-topic-nav-wrap {
  width: max-content;
}

.fg-nav-topic-section .fg-nav-dd-2 {
  opacity: 0;
  pointer-events: none;
}

/* .fg-nav-topic-section:hover .fg-dashed,
.fg-nav-topic-section:hover .fg-solid {
  opacity: 0;
} */

.fg-nav-side-link,
.fg-caret-btn,
.slick-track,
.fg-nav-side-link-icon {
  pointer-events: auto;
}

.fg-nav-dd-2 .fg-dd-list.w--open {
  overflow: auto;
  left: 0%;
  top: 36px;
  padding: unset;
  background: transparent;
}

.fg-nav-dd-2 .fg-dd-list.w--open .w-embed {
  border: solid 1px #ebebeb;
  background: #fff;
  border-radius: 6px;
  padding: 1em;
  padding-bottom: 5px;
}

.fg-articles-nav.w-dyn-items {
  width: 100% !important;
}
.fg-nav-article {
  margin-left: 0px !important;
}

.slick-initialized .slick-slide,
.slick-track {
  display: flex !important;
  /* width: 150px !important; */
  /* min-width: 150px; */
}
.slick-track {
  align-items: flex-end;
  padding-top: 10px;
  /* width: auto !important; */
}
.slick-slider .slick-list {
  height: 100vh;
}
.slick-slider .fg-topics-block,
.slick-slider .fg-nav-topic-section {
  flex-grow: 1;
}
@media (min-width: 992px) {
  .fg-caret-btn {
    display: flex !important;
  }
  .slick-track > .fg-topic-nav-wrap:nth-child(2) .fg-nav-title {
    max-width: 140px;
  }
}

.fg-nav-topic-section.active .fg-nav-title {
  color: #ffffff;
}

.fg-nav-topic-section,
.fg-nav-topic-section a {
  position: relative;
}

.fg-nav-topic-section:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  width: 80%;
  height: 80%;
  background: transparent;
  border: solid 1px transparent;
  border-radius: 6px;
  transition: all 200ms ease;
  z-index: 0;
}

/* with dd's

.fg-nav-topic-section:hover .fg-nav-dd-2 {
  opacity: 1;
}

.fg-nav-topic-section:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4.5%;
  width: 80%;
  height: 110%;
  background: transparent;
  border: solid 1px transparent;
  border-radius: 6px;
  transition: all 200ms ease;
  z-index: 0;
}

.fg-nav-topic-section.active:hover:before {
  margin-bottom: -7.5%;
}

.fg-nav-topic-section.active:hover:before {
  background-color: var(--blue);
  height: 110%;
  margin-bottom: -4.5%;
}

*/
@media (min-width: 780px) and (max-width: 992px) {
  .slick-arrow {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .fg-nav-topic-section:before {
    width: 88%;
  }
  .fg-nav-topic-section.active:before {
    margin-bottom: 15%;
  }
  /* .slick-track {
    padding-top: 20px;
  } */
  .fg-nav-topic-section.active:before {
    margin-bottom: 7.5%;
  }

  .tags-wrap {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .tags-wrap::-webkit-scrollbar {
    display: none;
  }
}

.fg-sidebar-sticky._2 {
  overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: hidden; /* Show horizontal scrollbar */
}

.fg-sidebar-sticky._2::-webkit-scrollbar,
.fg-topic-overlay::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.fg-sidebar-sticky._2::-webkit-scrollbar-thumb,
.fg-topic-overlay::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  transition: all 200ms ease;
}
.fg-sidebar-sticky._2:hover::-webkit-scrollbar-thumb,
.fg-topic-overlay:hover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* .fg-sidebar-sticky._2::-webkit-scrollbar,
.fg-topic-overlay::-webkit-scrollbar {
  display: none;
} */

.fg-nav-topic-section:hover:before {
  background: #fff;
  border-color: var(--dark-blue);
}
.fg-nav-topic-section:hover,
.fg-nav-topic-section.active {
  background: transparent !important;
  border-color: transparent !important;
}

.fg-nav-topic-section.active:before {
  background-color: var(--blue);
  height: 88%;
  margin-bottom: 4.5%;
}

.fg-nav-dd-2 {
  height: 21px;
}

@media (max-width: 768px) {
  .article-thumb {
    object-fit: cover !important;
  }
  .slick-slide,
  .slick-slider div {
    transition: none;
  }
  /* .fg-nav-topic-section {
    min-height: 70.5px;
    padding-top: 9px !important;
    padding-bottom: 4.5px !important;
  } */
}

/* .fg-nav-topic-section .w-dropdown {
  display: none;
}
.fg-nav-topic-section:hover .w-dropdown {
  display: block;
} */

/* .fg-topic-nav-wrap,
.fg-topics-block {
  width: 200px !important;
  max-width: 200px !important;
  display: block !important;
}
.slick-initialized .slick-slide,
.slick-track {
  display: block !important;
} */

/* @media (min-width: 796px) {
  .section-wrapper {
    position: relative;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
  }
}
@media (max-width: 796px) {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
} */

/* .section-faux-id {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -150px;
  right: 0%;
  bottom: 0%;
  left: 0%;
} */

/* .fg-mob-dd-toggle.w--open .rel-icon {
  transform: rotate(0deg);
}
.fg-mob-toc-target .toc-wrapper {
  border: none;
}
.fg-mob-toc-target .toc-wrapper a {
  padding-left: 0px;
}

@media screen and (max-width: 991px) {
  .mobile-brand-link.uv2-mobile-brand-link {
    height: 16px;
  }
} */
